* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ?NAVBAR  */

.navbar {
    background-color: rgb(19, 18, 18);
    color: #f4f0f0;
    padding: 5px;
}

.navbar-items {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 40px;
    border-radius: 30px;
}

.logo:hover {
    background-color: rgb(50, 49, 49);
}

.heading-style {
    color: blueviolet;
    font-style: italic;
    font-size: 50px;
}

.item {
    display: flex;
    margin-left: 200px;
}

.navbar-item {
    padding: 20px 50px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

.navbar-item:hover {
    background-color: rgb(50, 49, 49);
}

.side {
    margin-left: 140px;
}

.login-hover {
    background-color: #f4f0f0;
    color: black;
    border-radius: 30px;
}

.login-hover:hover {
    color: red;
}

.register-hover {
    background-color: #726060;
    color: black;
    border-radius: 30px;
}

.register-hover:hover {
    color: red;
}

/* HERO SECTION  */

.hero-section {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    background-image: linear-gradient(360deg, rgb(245, 255, 245) 0%, #acacae 100%);
    height: 91vh;
}

.hero-section section {
    flex: 1;
}

.hero-left {
    padding-left: 40px;
}

.hero-left h1 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    color: #070439;
}

.hero-left p {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 25px;
    color: #444444;
}

.hero-left a {
    padding: 10px 15px;
    background: #372cfa;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s all ease;
    border-radius: 20px;
}

.hero-left a:hover {
    background-color: #070439;
}

.right {
    padding-top: 50px;
}

.right img {
    width: 100%;
    max-width: 800px;
}

/* PRODUCTS */

.product-heading {
    padding-top: 70px;
    margin-top: 0;
    padding-left: 43%;
    font-size: 40px;
    background-color: #a7a1e4;
}

.products {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(360deg, rgb(245, 255, 245) 0%, #a7a1e4 100%);
}

.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
    margin: 65px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 10px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

/* ABOUT US */

.about {
    background: rgb(224, 251, 222);
    background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(173, 252, 163) 100%);
    padding: 100px 0 20px 0;
    text-align: center;
    height: 80vh;
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1rem;
    color: #323030;
    max-width: 800px;
    margin: 0 auto;
}

.about-info {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about-img {
    width: 20rem;
    height: 20rem;

}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.about-info p {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: justify;
}

button {
    border: none;
    outline: 0;
    padding: 10px;
    margin: 2rem;
    font-size: 1rem;
    color: white;
    background-color: #40b736;
    text-align: center;
    cursor: pointer;
    width: 15rem;
    border-radius: 30px;
}

button:hover {
    background-color: #1f9405;
}

/* FOOTER */
.footer {
    background-color: #2f2e2e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    padding-left: 30px;
}

.footer-head-style {
    color: blueviolet;
    font-style: italic;
    font-size: 50px;
}

.copyright {
    padding: 40px;
}

/* Registration form */

.register-section {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(173, 252, 163) 100%);
}

.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
    font-size: 40px;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #707070;
}

.address :where(input, .select-box) {
    margin-top: 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button {
    height: 55px;
    width: 90%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(130, 106, 251);
}

.form button:hover {
    background: rgb(88, 56, 250);
}